# Ignore environment variables
.env

# Ignore node modules
node_modules/

# Ignore build directories
dist/

# Ignore log files
*.log

# Ignore other common files
.DS_Store
*.swp
*.swo
*.tmp

# Ignore IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
